@media (min-width: 320px) and (max-width: 479px) {
  .overview {
    background-color: #212331;
    color: #99a9b5;
    font-size: 0.9em;
  }

  .table-useful,
  .table-logo {
    margin-top: 50px;
    height: 100%;
  }

  #contact {
    padding-top: 40px;
  }

  .table-contact {
    height: 100%;
  }

  .table-recent,
  .table-email,
  .table-flick {
    height: 100%;
    margin-top: 50px;
  }

  .table-project {
    margin-top: -40px;
    padding: 0;
    height: 100%;
    margin-top: 50px;
  }

  .table-letter {
    height: 100%;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 3em;
  }

  #row-overview {
    padding-bottom: 10px;
  }

  .text-contact {
    color: #00bcd4;
  }

  .text-contact:hover {
    color: #99a9b5;
  }

  .avatar {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: #63707a;
  }

  .table-border {
    border-bottom: 1px dashed #91a0ac;
    padding: 10px
  }

  .form-input {
    color: #99a9b5;
    background-color: #181828;
    border: 1px solid #181828;
    width: 100%;
  }

  .email-input {
    height: 35px;
  }

  .form-btn {
    width: 100%;
    background-color: #394050;
    color: #99a9b5;
    border: 1px solid #394050;
    height: 35px;
  }

  .letter-input {
    max-width: 10em;
  }

  .grid-item {
    background-color: #5c6973;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-container {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: auto auto auto;
    background-color: #212331;
  }

  .icons-cricle {
    font-size: 8px;
    color: #00bcd4;
  }

  .icons-cricle:hover {
    color: white;
  }

  .text-user {
    border-bottom: 1px dashed #91a0ac;
    padding-bottom: 10px;
  }

  .text-hover:hover {
    color: #00bcd4;
  }

  .text-logo {
    color: white;
    font-size: 30px;
  }

  .text-logo-weight {
    font-weight: 800;
  }

  .text-recent-date {
    color: #00bcd4;
  }

  .icons-recent {
    float: right;
  }

  .icons-recent:hover {
    color: #00bcd4;
  }

  .icons-title {
    font-size: 13px;
    color: red
  }
}
