@media (min-width: 320px) and (max-width: 479px) {
  .pricing {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .pricing-text {
    margin-bottom: 100px;
    text-align: justify;
    font-size: 1em;
  }

  .table-body {
    text-align: center;
  }

  .table-title {
    height: 120px;
    border: 1px solid #dfe5e7;
    transition: all 1s;
    border-bottom: none;
    border-top: none;
    background-color: #f0f3f2;
  }

  .table-price {
    height: 120px;
    border: 1px solid #dfe5e7;
    color: white;
  }

  .table-comment {
    height: 80px;
    border: 1px solid #dfe5e7;
    background-color: #f0f3f2;
    transition: all 1s;
  }

  .table-list {
    height: 180px;
    border: 1px solid #dfe5e7;
    border-bottom: none;
    background-color: #f0f3f2;
    transition: all 1s;
  }

  .table-icons {
    font-size: 16px;
  }

  .table-btn {
    height: 80px;
    border: 1px solid #dfe5e7;
    border-top: none;
    border-bottom: none;
    background-color: #f0f3f2;
    transition: all 1s;
  }

  .table-scale {
    margin-top: 10px;
    margin-left: -1px;
    width: 100.7%;
    height: 30px;
    border: 1px solid #dfe5e7;
    border-top: none;
    transition: all 1s;
    background-color: #f0f3f2;
  }

  .table-scale-top {
    margin-left: -1px;
    width: 100.7%;
    height: 30px;
    border: 1px solid #dfe5e7;
    border-bottom: none;
    transition: all 1s;
    background-color: #f0f3f2;
  }

  .item-hover:hover .table-title {
    border: 1px solid #dfe5e7;
    border-top: none;
    background-color: white;
  }

  .item-hover:hover .table-comment {
    background-color: white;
  }

  .item-hover:hover .table-list {
    background-color: white;
    border-bottom: none;
  }

  .item-hover:hover .table-btn {
    border: 1px solid #dfe5e7;
    border-bottom: none;
    border-top: none;
    background-color: white;
  }

  .item-hover:hover .table-scale {
    transform: translateY(20px);
    border: 1px solid #dfe5e7;
    border-top: none;
    background-color: white;
  }

  .item-hover:hover .table-scale-top {
    transform: translateY(-20px);
    border: 1px solid #dfe5e7;
    border-bottom: none;
    background-color: white;
  }

  .text-animation {
    transition: all 1s;
  }

  .item-hover:hover .text-animation {
    transform: translateY(-20px);
  }

  .item-hover {
    margin-left: 10%;
    max-width: 80%;
    padding-bottom: 60px;
    transition: all 1s;
    border: none;
  }

  .col-text-price {
    font-size: 45px;
    font-weight: 500;
    padding: 40px;
  }

  .col-text {
    border-bottom: 1px solid #dfe5e7;
    margin: 0;
    padding: 5px;
    font-size: 0.9em;
  }

  .col-text-comment {
    font-size: 1.5em;
  }

  .col-text-color {
    color: #a0afba;
    font-size: 13px;
  }

  .absolute {
    position: absolute;
    top: -30px;
    left: 30px;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-radius: 100%;
    text-align: center;
    background-color: black;
    color: white;
    transition: all 1s;
  }

  .item-hover:hover .absolute {
    transform: translateY(-20px);
  }

  .col-btn {
    border-radius: 50px;
    width: 120px;
    height: 40px;
    background-color: #2b2d3d;
    border-style: solid;
    border-color: white;
    color: white;
  }

  .col-btn:hover {
    background-color: #00bcd4
  }
}
