@media (min-width: 768px) and (max-width: 1024px) {
  #nav-desk{
    display: none;
  }
  #nav-mobie{
    display: block;
    padding: 0;
    margin: 0;
  }
  .logo-img {
    height: 25px;
    width: 25px;
    margin-bottom: 15px;
  }
  .logo-text {
    font-size: 1.5em;;
    font-weight: 800;
    color: white;
  }
  #nav-list-icons{
    display: block;
  }
  .vien{
    padding-right: 20px;
  }
  .list-item-img{
    width:23px;
    height: 13px;
    position: relative;
    margin-top: 10px;
  }
  .list-item-icons{
    color: #83909d;
    margin-top: 5px;
    font-size: 16px;
  }
  #menu{
    display: block;
    background-color: #2c2e3d;
    color: white;
    font-size: 20px;
    padding: 0;
  }
  #icons{
    color: #83909d;
    font-size: 14px;
  }
  .badges{
    margin-left:0;
    margin-top: 5px;
  }
  .badges-img{
    width:30px;
    height: 15px;
    position: relative;
  }
  .badges-text{
    position: relative;
    font-size: 10px;
    margin-left: -15px;
  }
  #cart{
    display: block;
    background-color: #2c2e3d;
    color: white;
    font-size: 20px;
    padding: 0;
    float: right;
  }
  #close{
    display: none;
    background-color: #2c2e3d;
    color: white;
    font-size: 20px;
    padding: 0;
  }
  #list-menu{
    display: none;
    background-color: white;
    opacity: 0.8;
    color: black;
    border-top: 1px solid black;
  }

}
