@import"Desktop/footer-desk.css";
@import"Smart/footer-mobie.css";
@import"Iphone/footer-iphone.css";
@import"Tablet/footet-tablet.css";
@import"Ipad/footer-ipad.css";
#icons-foot{
  display: inline-block;
    vertical-align: top;
    text-align: center;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 5px;
    line-height: 16px;
}

/* .footer {
  padding: 25px;
  margin-top: -60px;
  background-color:#181828;
}
.icons-foot {
  padding: 0 0 0 10px;
  float: right;
}
.foot-list{
  margin-bottom: -20px;
}
.foot-text{
  margin-left:0;
}
.foot-text-list{
  padding-right: 30px;
  border-right:1px dashed #333146
}
.foot-list-icons{
  float: right;
} */
