.footer {
  background-color: #f2f2f2;
  padding: 25px;
  margin-top: -60px;
  background-color:#181828;
}
.icons-foot {
  padding: 0 0 0 10px;
  float: right;
}
.foot-list{
  margin-bottom: -20px;
}
.foot-text{
  margin-left:0;
}
.foot-text-list{
  padding-right: 30px;
  border-right:1px dashed #333146
}
