@import"Desktop/overview-desk.css";
@import"Smart/overview-mobie.css";
@import"Iphone/overivew-iphone.css";
@import"Tablet/overview-tablet.css";
/* .overview{
  background-color: #212331;
  color: #99a9b5;
  font-size: 13px;
}
.table-logo {
  height: 300px;
}
.table-contact {
  height: 500px;
}
.table-recent,
.table-useful,
.table-email,
.table-flick {
  height: 400px;
}
.table-project{
  margin-top: -40px;
  padding: 0;
  height: 400px;
}
.table-letter{
  height: 400px;
  margin-top: 50px;
  padding: 0;
}
.text-contact {
  color: #00bcd4;
}
.text-contact:hover {
  color: #99a9b5;
}
.avatar {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: #63707a;
}
.table-border {
  border-bottom: 1px dashed #91a0ac;
  padding: 10px
}
.form-input {
  color: #99a9b5;
  background-color: #181828;
  border: 1px solid #181828;
  width: 100%;
}
.email-input {
  height: 35px;
}
.form-btn {
  width: 100%;
  background-color: #394050;
  color: #99a9b5;
  border: 1px solid #394050;
  height: 35px;
}
.letter-input{
  max-width: 200px;
}
.grid-item {
  background-color: #5c6973;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
  background-color: #212331;
}
.icons-cricle {
  font-size: 8px;
  color: #00bcd4;
}
.icons-cricle:hover {
  color: white;
}
.text-user {
  border-bottom: 1px dashed #91a0ac;
  padding-bottom: 10px;
}
.text-hover:hover {
  color: #00bcd4;
}
.text-logo {
  color: white;
  font-size: 30px;
}
.text-logo-weight {
  font-weight: 800;
}
.text-recent-date {
  color: #00bcd4;
}
.icons-recent {
  float: right;
}
.icons-recent:hover {
  color: #00bcd4;
}
.icons-title {
  font-size: 13px;
  color: red
} */
