@import"Desktop/pricing-desk.css";
@import"Smart/pricing-mobie.css";
@import"Iphone/pricing-iphone.css";
@import"Tablet/pricing-tablet.css";
/* .pricing{
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}
.pricing-text{
  margin-bottom: 100px;
}
.table-body{
  background-color: #f0f3f2;
  border: 1px solid #f0f3f2 ;
}
.table-title {
  height: 120px;
  border: 1px solid #dfe5e7;
  transition: all 1s;
  border-bottom: none;
}
.table-price {
  height: 120px;
  border: 1px solid #dfe5e7;
  color: white;
}
.table-comment {
  height: 80px;
  border: 1px solid #dfe5e7;
}
.table-list {
  height: 180px;
  border: 1px solid #dfe5e7;
  border-bottom: none;
}
.table-icons {
  font-size: 16px;
}
.table-btn {
  height: 50px;
  border: 1px solid #dfe5e7;
  border-top: none;
  border-bottom: none;
}
.table-scale {
  height: 35px;
  border: 1px solid #dfe5e7;
  border-top: none;
  transition: all 1s;
}
.item-hover:hover .table-title {
  transform: translateY(-20px);
  border: 1px solid #dfe5e7;
  border-bottom: none;
  background-color: white;
}

.item-hover:hover .table-scale {
  transform: translateY(20px);
  border: 1px solid #dfe5e7;
  border-top: none;
  background-color: white;
}
.text-animation {
  transition: all 1s;
  margin-top: 40px;
}
.item-hover {
  padding: 0;
  transition: all 1s;
  border: none;
}
.item-hover:hover {
  background-color: white;
  transition: all 1s;
}
.col-text-price {
  font-size: 45px;
  font-weight: 500;
  padding: 40px;
}
.col-text {
  border-bottom: 1px solid #dfe5e7;
  margin: 0;
  padding: 5px;
  font-size: 13px;
}
.col-text-color {
  color: #a0afba;
  font-size: 13px;
}
.absolute {
  position: absolute;
  top: -30px;
  left: 30px;
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 100%;
  text-align: center;
  background-color: black;
  color: white;
  transition: all 1s;
}
.item-hover:hover .absolute {
  transform: translateY(-20px);
}
.col-btn {
  border-radius: 50px;
  width: 120px;
  height: 40px;
  background-color: #2b2d3d;
  border-style: solid;
  border-color: white;
  color: white;
}
.col-btn:hover{
  background-color: #00bcd4
} */
