@media screen and (min-width: 1200px) {
  #nav-desk {
    display: block;
  }

  #nav-mobie {
    display: none;
  }

  #list-menu {
    display: none;
  }

  .dropdown-content {
    display: none;
  }

  .dropdown-content {
    display: none;
  }

  .foot-icons {
    text-align: right;
  }

  #fixnav {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #2c2e3d;
    border-radius: 0px;
    color: white;
    border: none;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 10px;
    margin-bottom: 0;
  }

  #nav-link {
    padding-left: 24px;
  }

  #nav-icons {
    padding-left: 0;
  }

  #nav-list-icons {
    padding-left: 24px;
    margin-left: 6px;
  }

  .logo-img {
    height: 40px;
    width: 40px;
    margin-bottom: 15px;
  }

  .logo-text {
    font-size: x-large;
    font-weight: 800;
    color: white;
  }

  .vien {
    padding-right: 20px;
  }

  .list-item-img {
    width: 23px;
    height: 13px;
    position: relative;
    margin-top: 10px;
  }

  .list-item-icons {
    color: #83909d;
    margin-top: 5px;
    font-size: 16px;
  }

  #icons:hover {
    color: #00bcd4;
    text-decoration: none
  }

  #icons {
    color: #83909d;
    font-size: 1.5em;
  }

  .badges {
    margin-left: 0;
    margin-top: 5px;
  }

  .badges-img {
    width: 30px;
    height: 15px;
    position: relative;
    margin-bottom: 10px;
  }

  .badges-text {
    position: absolute;
    font-size: 10px;
    margin-left: -15px;
  }
}
