@media (min-width: 992px) and (max-width: 1200px) {
  .footer {
    padding: 25px;
    background-color: #181828;
  }

  .foot-icons {
    text-align: right;
  }

  .foot-list {
    margin-bottom: -20px;
    margin-left: 5em;
  }

  #foot-link {
    padding: 0;
    margin-left: 3.5em
  }

  .foot-text-list {
    padding-right: 0;
    border-right: 1px dashed #333146
  }

}
