@media (min-width: 992px) and (max-width: 1200px) {
  .slide {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #2c2e3d;
  }

  .slide-icons {
    font-size: 80px;
    margin-bottom: 60px;
    color: #00bcd4;
  }

  .slide-title {
    font-size: 40px;
  }

  .btn-slide {
    border-radius: 50px;
    width: 220px;
    height: 50px;
    background-color: #2b2d3d;
    border-style: ridge;
    border-color: white;
    color: white;
    margin-left: 20px;
  }

  .btn-slide:hover {
    color: #00bcd4;
    border-color: #00bcd4;
  }

  .text-slide {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    text-align: center;
  }

  .mySlides {
    display: none;
  }

  .mySlides1 {
    display: none;
  }

  .slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    height: 500px;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: #00bcd4;
    text-decoration: none;
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .slide-dot {
    text-align: center;
    margin-top: 60px;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    border: 1px solid white;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot1 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    border: 1px solid white;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #00bcd4;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 3s;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
      font-size: 11px;
    }
  }

}
